{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <table class="table table-striped" id="stefan-votes-table">
        <thead>
        <tr>
{#            <th>Sex</th>#}
{#            <th>Date of birth</th>#}
            <th>Party</th>
{#            <th>When voted</th>#}
        </tr>
        </thead>
        <tfoot>
        <tr>
{#            <th>Sex</th>#}
{#            <th>Date of birth</th>#}
            <th>Party</th>
{#            <th>When voted</th>#}
        </tr>
        </tfoot>
    </table>
{% endblock %}